alchemy-mock
alembic>1
anyio==3.7.0
black
celery>=5.3.6
certifi==2023.5.7
coloredlogs==15.0.1
contextvars
coverage==7.2.7
cryptography==40.0.2
email_validator
fastapi==0.95.2
fastapi-pagination
flake8
flower==2.0.1
freezegun==1.4.0
hiredis
locust>=2.0
openai==0.27.7
openapi-schema-pydantic==1.2.4
openpyxl==3.1.2
opentelemetry-distro==0.41b0
opentelemetry-exporter-otlp==1.20.0
pre-commit
pybreaker
pydantic==1.10.8
pyjwt
pylint
PyMySQL==1.0.3
pytest==7.3.1
pytest-asyncio
pytest-cov
pytest-sqlalchemy-mock==0.1.5
pytest_mock_resources
python-dotenv==1.0.0
redis>4
requests==2.31.0
sentry-sdk
SQLAlchemy==2.0.15
starlette==0.27.0
typing_extensions==4.6.2
urllib3==2.0.2
uvicorn==0.22.0
werkzeug
